@import '../../../scss/core/vars';

.button {
  width: 100%;
  height: 100%;
  background: $colorBackground;
  color: $white;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.3s;
  font-family: $fontMain;
  font-size: 18px;

  &:hover {
    background: $colorBackgroundHover;
  }
  &:disabled {
    background-color: $colorBorder;
    cursor: auto;
  }
}
