@import "scss/core/mixins";
@import "scss/core/vars";

.pagination {
  padding: 18px 15px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $colorTable;
  font-weight: normal;
  font-size: 12px;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    padding: 18px 8px 12px;
  }
}

.margitRight {
  margin-right: 15px;

  @media (max-width: 768px) {
    margin: 15px 0;
  }
}

.paginationFlex {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    & + .paginationFlex {
      flex-wrap: wrap;
    }
  }
}

.paginationBtn {
  color: $colorBackground!important;
  background: $white!important;
  border: 1px solid $colorBorder;
  padding: 9px 10px;

  a {
    color: $colorBackground;
  }
}

.widthSelect {
  margin: 0;
  padding: 0;
}

.widthSelect .widthSelect {
  max-width: 100px;
  margin: 0 5px;
  padding: 0 10px;
  font-size: 16px;

  & > div {
    height: 35px;

    & > div {
      padding: 0 !important;

      & + div {
        text-align: center!important;
      }
    }
  }

  div div div div{
    padding: .5px 2px!important;

    svg {
      margin-top: 10px !important;
    }
  }
}

.paginationBtns {
  display: flex;
  align-items: center;

  li {
    background: $white;
    border: 1px solid $colorBorder;
    padding: 8px 10px;

    a {
      color: $colorBackground;
    }
  }

  .active {
    background: $colorBackground;

    a {
      color: $white;
    }
  }
}
