* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box !important;
  font-size: $fontSizeContent !important;
  font-family: "RobotoMedium", sans-serif !important;
  color: $colorContent !important;
  background: $white !important;
  margin: 0;
}

a {
  text-decoration: none;
  color: $colorContent;
}

a:hover,
button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
}

button:focus,
input:focus {
  outline: none;
}

h2 {
  @include styleForText(36px);
}

h3 {
  @include styleForText(30px);
}

h4 {
  @include styleForText(24px);
}

h5 {
  @include styleForText(20px);
}

h6 {
  @include styleForText();
}

textarea {
  resize: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr:first-child {
  display: none;
}

th {
  padding: 14px 10px;
  text-align: left;
  font-size: 14px;
  background: $colorBackground;
  color: $white;
  border-left: 1px solid #f8bebe;

  &:first-child{
    border: 0;
  }
}
td {
  padding: 16px;
  font-size: 14px;
  border: none;
}

tbody tr:nth-child(2n) {
  background: $colorInput;
}

.overflow {
  @media screen and (max-width: 768px) {
    overflow: hidden;
    height: 100vh;
  }
}
