@import "scss/core/mixins";
@import "scss/core/vars";

.wrapperTable {
  width: 100%;
  border: 1px solid $colorBorder;
  margin: 20px 0;
}

.title {
  color: $colorBackground;
  margin: 77px 0 32px;
}
