.slid {
  margin: 0;
  height: 480px;

  img {
    width: 100%;
    height: 100%;
  }
}

.tabsItems {
  padding: 0;
}

.ArrowL,
.ArrowR {
  width: 30px;
  height: 30px;
  background: #D73E45;

  svg {
    margin-bottom: 2px;
  }

  &:disabled {
    background: #f8bebe;
  }
}

.ArrowL {
  transform: rotate(-90deg);
  position: absolute;
  left: 1px;
  top: 217px;
  z-index: 9;
}

.ArrowR {
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  top: 217px;
  z-index: 9;
}

.customSlider {
  overflow: hidden;
}

.itemTabs {
  margin-left: -24px!important;
  margin-right: -24px!important;
}

.noImages{
  width: 730px;
  text-align: center;
  margin: 100px 0;
  text-transform: uppercase;
  font-weight: bold;
}
