@mixin styleForText ($fontSize: $fontSizeContent, $fontFamily: $fontMain, $color: $colorContent) {
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $color;
}

@mixin container {
  max-width: 1785px;
  margin: 0 auto;

  @media (max-width: 1850px) {
    margin-left: 75px;
    margin-right: 60px;
  }

  @media (max-width: 1600px) {
    margin-left: 40px;
    margin-right: 40px;
  }
}
