$colorContent: #000;
$white: #fff;
$colorBackground: #d73e3e;
$colorBorder: #c4c4c4;
$colorInput: #fafafa;
$colorTable: #6d6c6c;
$colorDisabled: #f8bebe;
$fontSizeContent: 16px;
$fontMain: "RobotoMedium", sans-serif;
