.input {
  background: #FAFAFA;
  border: 1px solid #C4C4C4;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 15px 20px;
}

.inputBlock {
  position: relative;
  width: 100%;
}

.maxWidth {
  width: 360px;
}