@import "scss/core/mixins";
@import "scss/core/vars";

.input {
  background: $colorInput;
  border: 1px solid $colorBorder;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 15px 20px;
}

.inputBlock {
  position: relative;
  width: 100%;
}

.maxWidth {
  width: 360px;
}

.customFile {
  border: none;
}

.trashIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.color {
  color: $colorBackground;
}

.chosenFile,
.chosenFileValue{
  padding: 10px 0 10px 150px;
}

.chosenFile {
  color: $colorTable;
  font-size: 14px;
  font-weight: normal;
}
