@import "scss/core/mixins";
@import "scss/core/vars";

.container {
  @include container();
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.scrollTable {
  width: 100%;
  overflow: auto;
}

.notFound {
  text-align: center;
  text-transform: uppercase;
  margin: 130px 0;
}

.title {
  color: $colorBackground;
  margin-top: 60px;
}

.filterText {
  color: $colorBackground;
  background: $white;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-right: 61px;
}

.rightBlock {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.filterIcon {
  margin-right: 17px;
}

.sort {
  margin-right: 10px;
}

.view .sort {
  display: none;
}

.star {
  margin-right: 5px;
}

.viewBtn {
  background: transparent;
  color: #d73e3e;
  border: 1px solid #d73e3e;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  max-width: 113px;

  &[disabled] {
    opacity: .3;
    border-color: $colorContent;
    color: $colorContent;
  }
}

td.id,
td.paiment_for,
td.name_car {
  color: $colorBackground;
}

.paid,
.total,
.paiment_for,
.outstanding,
.status {
  position: relative;
  p + p,
  span {
    margin-top: 26px;
    display: block;
  }
}

.total p:before,
.paid p:before,
.outstanding p:before {
  content: '$';
}

.viewBtn + .viewBtn {
  margin-top: 20px;
}

.paimentBtn {
  display: flex;
  align-items: center;
  color: $colorBorder;
  margin-top: 26px;

  svg {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}

.fieldRow {
  display: block;
  width: auto;

  p {
    display: none;
  }
}
.customInputFile {
  border: none;
  display: none;
}

.iconPlus {
  padding-left: 160px;

  svg {
    width: 18px;
    height: 18px;
  }
}

.widthInputBlock {
  height: auto !important;
}

.customLabel{
  z-index: 1;

  &:before {
    background: transparent;
    border: none;
    content: 'Shipping charge invoice';
    font-weight: 500;
    font-size: 14px;
    width: 180px;
    left: -14px;
    height: auto;
    top: -1px;
    cursor: pointer;
    z-index: -2;
  }
}

td.id,
td.date,
td.name_car {
  padding-bottom: 65px;
}

th:first-child {
  width: 60px;
  text-align: center;
}

.rightBtn {
  font-weight: 500;
  font-size: 18px;
  color: $white;
  background: $colorBorder;
  padding: 10px;
  min-width: 131px;
  margin-left: 20px;
}

.columnSelect {

  & > div {
    flex-direction: column;

    label {
      width: 100%;
      margin: 10px;
    }

    div + div {
      left: 0;
      top: 80px;
      max-height: 133px;
      min-height: 8px;
    }
  }
}

.heightPopup {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.btnSubmit {
  width: 100%;
  font-weight: 500;
  margin-top: 40px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  transition: all .3s;

  &:hover {
    background: $colorBackgroundHover;
  }
}

th.documents svg {
  display: none
}
