@import "scss/core/mixins";
@import "scss/core/vars";

.btn {
  background: $colorBackground;
  color: $white;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "RobotoMedium", sans-serif;

  svg {
    border-radius: 50%;
  }
}

.active {
  opacity: 1 !important;
}
