@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";
.title {
  margin-bottom: 30px;
  line-height: 28px;
  @include styleForText(24px, $fontRegular);
}

.red {
  color: $colorBackground;
  margin-right: 10px;
}
.popupFieldRow {
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  width: 100%;

  label {
    margin: 0 31px 0 0;
    min-width: 136px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    label {
      margin: 10px 0;
      width: 100%;
      min-width: 100%;
    }
  }
}

.widthInputBlock {
  width: 360px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.scrollTable {
  width: 100%;
  overflow: auto;
}

.submitPopup {
  width: 100%;
}

.btnSubmit {
  width: 100%;
  font-weight: 500;
  margin-top: 40px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.3s;

  &:hover {
    background: $colorBackgroundHover;
  }
}
