@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.container {
  @include container();
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subHeader {
  background: #efefef;
  padding: 38px 0;
  margin-bottom: 15px;

  @media screen and (max-width: 950px) {
    nav {
      margin: 10px 0;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
}

.title {
  text-transform: uppercase;
  color: $colorBackground;
  margin-right: 20px;
}

.titleColor {
  color: $colorContent;
}

.menuItems {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menuLink {
  margin: 0 23px 0 43px;
  display: flex;
  align-items: center;

  &:hover {
    color: $colorBackground;

    .dotActive {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1544px) {
    margin: 0 19px;
  }

  @media screen and (max-width: 950px) {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.dotActive {
  width: 5px;
  height: 5px;
  margin-left: 15px;
  background: $colorBackground;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  opacity: 0;
}

.active {
  color: $colorBackground;

  .dotActive {
    opacity: 1;
  }
}

.customBtn {
  background: transparent !important;
  height: 34px;
  align-items: center;
  display: flex;
}

.label {
  min-width: 135px;
  margin: 0 31px 0 0;
}

.error {
  color: $colorBackground;
}

.flexSelect {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
