@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.container {
  @include container();
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subHeader {
  background: #efefef;
  padding: 38px 0;
  margin-bottom: 15px;
}

.flex {
  display: flex;
  align-items: center;
}

.title {
  text-transform: uppercase;
  color: $colorBackground;
  margin-right: 20px;
}

.titleColor {
  color: $colorContent;
}

.menuItems {
  display: flex;
  align-items: center;
}

.menuLink {
  margin: 0 43px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1544px){
    margin: 0 23px;
  }

}

.dotActive {
  width: 5px;
  height: 5px;
  margin-left: 15px;
  background: $colorBackground;
  border-radius: 50%;
  overflow: hidden;
  display: none;
}

.active {
  color: $colorBackground;

  .dotActive {
    display: block;
  }
}

.customBtn {
  background: transparent;
  height: 34px;
  align-items: center;
  display: flex;
}

.label {
  min-width: 135px;
  margin: 0 31px 0 0;
}

.error {
  color: $colorBackground;
}

.flexSelect {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.submitPopup {
  padding-left: 167px;
  width: 100%;
}

.btnSubmit {
  width: 100%;
  font-weight: 500;
  margin-top: 40px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
}
