@import '../../../scss/core/mixins';
@import '../../../scss/core/vars';

.container {
  @include container();
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  color: $colorBackground;
  margin: 60px 0 40px;
  text-transform: uppercase;
}

.notFound {
  text-align: center;
  text-transform: uppercase;
  margin: 130px 0;
}

.plus {
  width: 40px;
  height: 40px;
}

.icon {
  margin-right: 10px;
}

.groupBtn {
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.btnIcon {
  background: $white!important;
  color: $colorBackground!important;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-right: 33px;
}

.rightBtn {
  font-weight: 500;
  font-size: 18px;
  color: $white;
  background: $colorBorder!important;
  padding: 10px;
  min-width: 131px;

  & + .rightBtn {
    margin-left: 20px;
  }
}

.pagination {
  padding: 18px 15px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $colorTable;
  font-weight: normal;
  font-size: 12px;
}

.paginationBtn {
  color: $colorBackground;
  background: $white;
  border: 1px solid $colorBorder;
  padding: 8px 10px;
}

.paginationSelect {
  padding: 8px 11px;
  border: 1px solid $colorBorder;
  font-size: 12px;
  color: $colorTable;
  border-radius: 2px;
  background: $white;
  margin: 0 10px;
}

.btnSubmit {
  width: 100%;
  font-weight: 500;
  margin-top: 40px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.3s;

  &:hover {
    background: $colorBackgroundHover;
  }
}

.submitPopup {
  padding-left: 167px;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding-left: 0;
  }
}

.actionsButton {
  background: transparent!important;
  width: 28px;
  height: 28px;
  margin-right: 30px;
}

.scrollTable {
  width: 100%;
  overflow: auto;
}

.price:before {
  content: '$ ';
}

.popupFieldRow {
  flex-direction: row!important;
  align-items: center;
  padding: 10px 0;
  width: 100%!important;

  label {
    margin: 0 31px 0 0!important;
    min-width: 136px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column !important;

    label {
      margin: 10px 0 !important;
      width: 100% !important;
      min-width: 100%;
    }
  }
}

.widthInputBlock {
  width: 360px!important;

  @media screen and (max-width: 768px) {
    width: 100% !important;
  }
}

.popupBtn {
  width: 70px;
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;
}

.groupPopupBtn {
  display: flex;
  justify-content: space-evenly;
}

.red {
  color: $colorBackground;
  font-size: 24px;
}

.columnSelect {

  & > div {
    flex-direction: column;

    label {
      width: 100%;
      margin: 10px;
    }

    div + div {
      left: 0;
      top: 80px;
      max-height: 89px;
      min-height: 8px;
    }
  }
}

.heightPopup {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}
