@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.container {
  @include container();
}

.title {
  display: block;
}

th:first-child {
  width: 45px;
  text-align: center;
}

.pagination {
  padding: 18px 15px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $colorTable;
  font-weight: normal;
  font-size: 12px;
}

.paginationBtn {
  color: $colorBackground;
  background: $white;
  border: 1px solid $colorBorder;
  padding: 8px 10px;
}

.paginationSelect {
  padding: 8px 11px;
  border: 1px solid $colorBorder;
  font-size: 12px;
  color: $colorTable;
  border-radius: 2px;
  background: $white;
  margin: 0 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.plus {
  width: 40px;
  height: 40px;
}

.icon {
  margin-right: 10px;
}

.groupBtn {
  display: flex;
  align-items: center;

  @media screen and (max-width: 662px) {
    margin: 10px 0;
  }
}

.notFound {
  text-align: center;
  text-transform: uppercase;
  margin: 130px 0;
}

.red {
  color: $colorBackground;
  font-size: 24px;
}

.btnIcon {
  background: $white !important;
  color: $colorBackground !important;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-right: 33px;
}

.rightBtn {
  font-weight: 500;
  font-size: 18px;
  color: $white;
  background: $colorBorder !important;
  padding: 10px;
  min-width: 131px;
  margin-left: 20px;

  @media screen and (max-width: 662px) {
    margin-left: 0;
    margin-right: 20px;
  }
}

.selectBlock {
  width: 240px;

  & + .selectBlock {
    margin-left: 10px;
  }
}

.pickers {
  flex-wrap: nowrap;

  div div {
    margin: 0;

    &:after {
      display: none;
    }

    p {
      display: none;
    }
  }

  p {
    white-space: nowrap;
    margin: 0 10px;
  }
}

.new,
.pending,
.delivered,
.not_approved {
  text-transform: uppercase;
}

.new {
  color: #00c236;
}

.pending {
  color: $colorTable;
}

.delivered {
  color: $colorContent;
}

.id,
td span,
.not,
.not_approved {
  color: $colorBackground;
}

.btnSubmit {
  width: 100%;
  font-weight: 500;
  margin-top: 40px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.3s;

  &:disabled {
    opacity: 0.6;
  }

  &:hover {
    background: $colorBackgroundHover;
  }
}

td.paiment {
  display: grid;

  a {
    color: $colorBackground;
  }
}

.scrollTable {
  width: 100%;
  overflow: auto;
}

.btnPrint {
  width: 100%;
  background: transparent;
  color: $colorContent;
  padding: 10px 0;
}

.checked {
  background: $colorBackground;
  color: $white;
}

.heightPopup {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  overflow: hidden;
}

.container td img {
  width: 150px;
}

.filter {
  justify-content: flex-start;
  align-items: center;

  .btnSubmit {
    width: auto;
    height: 46px;
    margin: 0 0 0 10px;
  }
}
