@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.title {
  margin-bottom: 30px;
  line-height: 28px;
  @include styleForText(24px, $fontRegular);
}

.red {
  color: $colorBackground;
  margin-right: 10px;
}
.columnSelect {
  & > div {
    flex-direction: column;

    label {
      width: 100%;
      margin: 10px;
    }

    div + div {
      left: 0;
      top: 80px;
      max-height: 89px;
      min-height: 8px;
    }
  }
}

.btnSubmit {
  width: 100%;
  font-weight: 500;
  margin-top: 40px;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.3s;
  padding: 10px;

  &:disabled {
    opacity: 0.6;
  }

  &:hover {
    background: $colorBackgroundHover;
  }
}
