@import "scss/core/mixins";
@import "scss/core/vars";

.previewImg {
  max-width: 375px;
  height: 100%;
  max-height: 494px;
  width: 100%;
  object-fit: cover;
  margin-top: 30px;

  @media (max-width: 1600px) {
    max-width: 300px;
  }
}

.changeImage {
  width: 375px;

  @media (max-width: 1600px) {
    width: 300px;
  }
}

.file {
  position: relative;
  width: 100%;
}

.fileInput {
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: -1;
}

.labelFileInput {
  display: flex;
  align-items: center;
  color: $colorBackground;
  justify-content: center;
  margin-top: 28px;
  cursor: pointer;
}

.iconPlus {
  margin-right: 15px;
}

.label {
  color: #d73e3e;
  min-width: 136px;
  margin: 0 31px 0 0;
}

.flex {
  display: flex;
  align-items: center;
  position: relative;
}

.labelFileInputNoPreview {
  width: 100%;
  border: 1px solid $colorBorder;
  background: $colorInput;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 10px;
  height: 47px;

  .iconPlus {
    width: 14px;
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    height: 14px;
  }
}
