@import "scss/core/mixins";
@import "scss/core/vars";

.flexItems {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;

  @media screen and (max-width: 768px) {
    padding: 10px;
  }

  &:nth-child(odd) {
    background: $colorInput;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.btnYes,
.btnNo {
  width: 48px;
  height: 24px;
  opacity: 0.3;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.btnYes {
  background: $colorAccepted !important;
}

.btnNo {
  background: $colorBackground !important;
}

.image {
  width: 210px;
  height: 180px;
  flex-shrink: 0;
  @media screen and (max-width: 500px) {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 20px;

  @media screen and (max-width: 400px) {
    width: 100%;
  }

  p,
  a {
    margin: 0 0 20px;
  }
}

.stepperContainer {
  min-width: 330px;

  @media screen and (max-width: 768px) {
    min-width: 100%;
  }
}

.colorText {
  color: $colorBackground !important;
  background: transparent !important;
  text-align: left;
  font-size: 16px;
}

.paddingBlock {
  padding: 0;
  margin: 0 !important;
}

.paddingBottom {
  padding-bottom: 5px;
}

.svg {
  margin-right: 8px;
}

.link {
  background: transparent;
  display: flex;
  align-items: center;
  color: $colorBackground;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.popupDamage {
  outline: none;
  max-width: 50%;

  @media screen and (max-width: 850px) {
    max-width: 420px;
  }

  @media screen and (max-width: 450px) {
    max-width: 100%;
  }
}
