@import "scss/core/mixins";
@import "scss/core/vars";

.flexItems {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;

  &:nth-child(odd) {
    background: $colorInput;

    div {
      z-index: 1!important;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
}

.btnYes,
.btnNo {
  width: 48px;
  height: 24px;
  opacity: .3;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.btnYes {
  background: $colorAccepted;
}

.btnNo {
  background: $colorBackground;
}

.image {
  width: 210px;
  height: 180px;

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  p,
  a {
    margin: 0 0 20px;
  }
}

.stepperContainer {
  min-width: 500px;
}

.colorText {
  color: $colorBackground;
  background: transparent;
  text-align: left;
  font-size: 16px;
}

.paddingBlock {
  padding: 0;
  margin: 0 !important;
  z-index: -1;
}

.paddingBottom {
  padding-bottom: 5px;
}

.svg {
  margin-right: 8px;
}

.link {
  background: transparent;
  display: flex;
  align-items: center;
  color: $colorBackground;
}

.disabled {
  pointer-events: none;
  opacity: .7;
}

.fullWidth {
  width: 100%;
  flex-wrap: wrap;

  .flex {
    flex-direction: column;
  }
}

.label {
  width: 100%;
}

.customTextarea {
  width: 360px;
  height: 200px;
  border: 1px solid $colorBorder;
  border-radius: 3px;
  padding: 10px;
}

.name {
  margin-right: 15px;
}

.comment {
  width: 300px;
}

.noComment {
  margin: 20px 0;
  width: 300px;
}

.blockComment {
  margin-top: 10px;
}

.btnSubmit {
  width: 360px;
  margin-top: 10px;
  height: 40px;
  text-transform: uppercase;
  transition: all .3s;

  &:hover {
    background: $colorBackgroundHover;
  }
}
