@import "../../scss/core/mixins";
@import "../../scss/core/vars";
.title {
  margin-bottom: 30px;
  line-height: 28px;
  @include styleForText(24px, $fontRegular);
}

.red {
  color: $colorBackground;
  margin-right: 10px;
}
.blockComment {
  margin-top: 10px;
}
.noComment {
  margin: 20px 0;
  width: 300px;
}

.name {
  margin-right: 15px;
}

.comment {
  width: 300px;
}
