.container {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1595px;
  position: relative;
  margin-bottom: 77px;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

.title {
  color: #d73e3e;
  margin: 60px 0 17px;
}

.form {
  padding: 30px 150px 60px;
  border: 1px solid #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1600px) {
  .form {
    padding: 0 80px 30px;
  }
}

@media screen and (max-width: 850px) {
  .form {
    padding: 0 20px 10px;
  }
}

.heightBlock {
  min-height: 600px;
}

@media (max-width: 850px) {
  .heightBlock {
    text-align: center;
    min-height: auto;
  }
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 435px;
  min-height: 110px;
}

@media (max-width: 1600px) {
  .column {
    width: 300px;
  }
}

@media screen and (max-width: 850px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .mediaFullWidth {
    width: 100%;
  }
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.address_input {
  background: #fafafa;
  border: 1px solid #c4c4c4;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding: 15px 20px;
  font-family: "RobotoMedium", sans-serif;
}

.address_label {
  margin: 30px 0 11px;
  color: #d73e3e;
}

.address_list {
  width: 100%;
  padding: 5px 15px 20px 15px;
  position: absolute;
  top: 109px;
  z-index: 9999;
  background-color: #fafafa;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
}

.address_item {
  line-height: 16px;
  cursor: pointer;
  font-size: 14px;
  font-family: "RobotoRegular", sans-serif;
  color: #000;
}

.address_item + .address_item {
  margin-top: 20px;
}

.label {
  margin: 30px 0 11px;
  color: #d73e3e;
}

.error {
  color: #d73e3e;
}

.field {
  background: #fafafa;
  border: 1px solid #c4c4c4;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding: 15px 20px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 850px) {
  .flex {
    width: 100%;
  }
  .flex > div {
    width: 100%;
  }
}

.submit {
  width: 100%;
}

.btnSubmit {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btnSubmit:hover {
  background: #bd3232;
}

.btnSubmit:disabled {
  opacity: 0.6;
}

.submitPopup {
  margin-left: 163px;
}

.displayNone {
  display: none;
}

.option {
  background: #fafafa;
}

.password {
  position: relative;
}

.showPassword {
  position: absolute;
  right: 21px;
  bottom: 12px;
  cursor: pointer;
  z-index: 2;
}
/*# sourceMappingURL=ProfileSettings.css.map */