@import "scss/core/mixins";
@import "scss/core/vars";

.label {
  color: $colorBackground;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 10px 0;
  }
}

.flexSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.select {
  width: 100%;
  display: flex;
  align-self: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding: 12px;
  min-height: 46px;
  height: auto;
  background: $colorInput;
  border: 1px solid $colorBorder;
  border-radius: 2px;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.options {
  display: none;
  max-height: 89px;
  min-height: 8px;
  overflow: auto;

  button {
    width: 100%;
    text-align: left;
    padding: 2px 15px;
    font-size: 14px;
  }
}

.flexSelect:focus {
  outline: none;
  z-index: 1;
}

.activeOption {
  display: block;
  position: absolute;
  top: 100% !important;
  z-index: 99999999;
  background: $colorInput;
  border: 1px solid $colorBorder;
  border-radius: 2px;
  border-top: 0;
  right: 0;
  width: 100%;

  @media screen and (max-width: 768px) {
    width: 100%;
    left: 0;
    top: 82px;
  }
}

.item {
  margin-right: 10px;

  button {
    background: $colorBackground;
    padding: 5px 5px;
    color: $white;
    font-size: 15px;
    margin-left: 2px;
  }
}

.active {
  background: $colorBackground;
  color: $white;
}

.icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 40px;
  height: 40px;
  background: $colorInput;
}
