@import "scss/core/vars";

.customBtnSearch {
  border-radius: 2px;
  padding: 9px 37px;
  font-weight: 500;
  font-size: 18px;
  transition: all .3s;

  &:hover {
    background: $colorBackgroundHover;
  }

  @media screen and (max-width: 1470px){
    padding: 9px 9px;
  }
}

.search {
  display: flex;
}

.searchIcon {
  position: absolute;
  left: 17px;
  top: 9px;

  @media screen and (max-width:768px) {
    display: none;
  }
}

.inputHeight {
  padding: 11px 0 11px 40px!important;
  width: 360px;

  @media screen and (max-width: 1544px){
    max-width: 300px;
  }

  @media screen and (max-width: 1470px){
    max-width: 240px;
  }

  @media screen and (max-width: 1280px){
    max-width: 170px;
  }

  @media screen and (max-width: 768px){
    max-width: 215px;
    padding: 11px 0 11px 15px!important;
  }
}
