@import "scss/core/vars";

.customBtnSearch {
  border-radius: 2px;
  padding: 9px 37px;
  font-weight: 500;
  font-size: 18px;
  transition: all .3s;

  &:hover {
    background: $colorBackgroundHover;
  }
}

.search {
  display: flex;
}

.searchIcon {
  position: absolute;
  left: 17px;
  top: 9px;
}

.inputHeight {
  padding: 11px 0 11px 40px;
  width: 360px;

  @media screen and (max-width: 1544px){
    max-width: 300px;
  }
}
