@import "scss/core/mixins";
@import "scss/core/vars";

.header {
  max-width: 100%;
}

.top {
  background: #6d6c6c;
  padding: 7px 15px;
  display: flex;
  justify-content: flex-end;
}

.topLanguages {
  display: flex;
}

.topLanguagesItem {
  @include styleForText(14px, $fontMain, #e8e8e8);

  padding: 0 5px;

  &:nth-child(2) {
    border-right: 1px solid #e8e8e8;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.topLanguagesActive {
  color: $colorBackground;
}

.menuItem {
  position: relative;
}

.bottom {
  background: $colorBackground;
  padding: 13px 19px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 9;
}

.adminMenu {
  position: absolute;
  left: 250px;
  top: 50%;
  transform: translateY(-50%);
}

.menuItems {
  display: flex;
  align-items: center;
}

.menuLink {
  margin: 0 55px 0 70px;
  color: $white;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &:hover {
    .menuDot {
      opacity: 1;
    }
  }
}

.menuIcon {
  padding-right: 10px;
  fill: white;
}

.logo {
  @include styleForText(48px, $fontMain, $white);
}

.bottomLanguages {
  display: flex;
  color: $white;
  position: relative;
}

.bottomLanguagesIcon {
  position: absolute;
  right: -7px;
  top: 6px;
}

.bottomLanguagesItem {
  @include styleForText($fontSizeContent, $fontMain, $white);

  padding: 0 8px;
  text-transform: uppercase;
}

.bottomIconsItems {
  display: flex;
  align-items: center;
}

.bottomIconsLink {
  padding-right: 18px;
  position: relative;

  &:last-child {
    padding-right: 0;
  }
}

.count {
  position: absolute;
  display: inline-block;
  padding: 2px 5px;
  font-size: 10px;
  background: #fff;
  border-radius: 59%;
  top: -7px;
  right: 6px;
}

.menuDot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: $white;
  margin-left: 10px;
  opacity: 0;
}

.active {

  .menuDot {
    opacity: 1;
  }
}

.btnOpenPopup {
  font-size: 16px;
}

@media screen and (max-width: 1750px) {
  .menuLink {
    margin: 0 35px 0 50px;
  }
}

@media screen and (max-width: 1500px) {
  .menuLink {
    margin: 0 15px 0 30px;
  }
}

.activePopup .containerPopup{
  display: flex;
  flex-direction: column;
}

.containerPopup{
  left: 61px;
  min-width: fit-content;
  width: 100%;
  max-width: 500px;
  top: 36px;
  font-weight: 500;
  font-size: 16px;

  &:before{
    right: 95%;
  }

  &:after {
    right: 94.8%;
  }
}

.trackingId {
  padding: 20px 30px;
  border-bottom: 1px solid $colorBorder;
  margin-bottom: 20px;
}

.flexInput {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: auto;
}

.customLabel,
.carId {
  margin: 0 25px 0 0;
  min-width: 83px;
}

.customInput {
  width: 180px;
}

.id {
  width: 180px;
  background: #fafafa;
  border: 1px solid $colorBorder;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 12px;
}

.containerCar {
  display: flex;
  flex-direction: column;
}

.flexCar {
  display: flex;
  align-items: center;
  padding: 10px 30px 0;
}

.addContainer {
  margin: 20px 30px;
  height: 40px;
  text-transform: uppercase;
}
