@import "scss/core/mixins";
@import "scss/core/vars";

.container {
  @include container();
}

.title {
  color: $colorBackground;
  margin: 60px 0 30px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.widthSelect {
  max-width: 200px;
  margin: 15px 15px 15px 0;

  input {
    border-radius: 0;
    font-size: 16px;
    padding: 13px 15px;

    &::placeholder {
      color: $colorContent;
    }
  }

  label {
    display: none;
  }
}

.btnSubmit {
  padding: 10px;
  height: 46px;
  margin: 15px 15px 15px 0;
}

.fullWidth {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filterText {
  color: $colorBackground;
  background: $white;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-right: 61px;
}

.notFound {
  text-align: center;
  text-transform: uppercase;
  margin: 130px 0;
}

.rightBlock {
  display: flex;
  align-items: center;
}

.filterIcon {
  margin-right: 17px;
}
