@import "scss/core/mixins";
@import "scss/core/vars";

.container {
  @include container();
}

.title {
  color: $colorBackground;
  margin-top: 45px;
  margin-bottom: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  & > div {
    margin-top: 20px;
  }
}

.secondBlock {
  max-width: 309px;
  margin-left: 40px;
}

.flex {
  display: flex;
  align-items: flex-end;
}

.firstLabel {
  margin-left: 0;
}

.rowSelect {
  display: flex;
  max-width: 309px;
  flex-direction: row;
  align-items: center;

  > .rowSelect {
    margin: 0;
  }
}

.labelSelect {
  color: $colorTable;
  margin: 0 15px 0 0;
  white-space: nowrap;
  position: relative;
}

.flexInput {
  flex-direction: row;
  align-items: center;
  max-width: 309px;
}

.firstFlexInput {
  flex-direction: row;
  align-items: center;
  max-width: 325px;
}

.customLabel {
  color: $colorTable;
  margin: 0 15px 0 0;
  min-width: auto;
}

.customWidthInput {
  max-width: 280px;
}

.secondLabel {
  margin-right: 34px;
}

.lastColumn {
  margin-left: 40px;
}

.labelContainer {
  margin-right: 57px;
}

.btnSubmit {
  width: 135px;
  height: 47px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 2px;
  margin-left: 56px;
  margin-bottom: 20px;
  transition: all .3s;

  &:hover {
    background: $colorBackgroundHover;
  }
}

.row {
  display: flex;
  align-items: flex-start;
}

.leftBlock {
  width: 218px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.colorFilter {
  color: $colorBackground;
  margin-right: 5px;
}

.itemFilter {
  margin-top: 10px;
}

.pagination {
  padding: 18px 15px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $colorTable;
  font-weight: normal;
  font-size: 12px;
}

.paginationBtn {
  color: $colorBackground;
  background: $white;
  border: 1px solid $colorBorder;
  padding: 8px 10px;
}

.paginationSelect {
  padding: 8px 11px;
  border: 1px solid $colorBorder;
  font-size: 12px;
  color: $colorTable;
  border-radius: 2px;
  background: $white;
  margin: 0 10px;
}

.id,
.model,
.lot {
  color: $colorBackground;
}

.imageTable {
  width: 104px;
  height: 68px;
  object-fit: cover;
}
