@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.container {
  @include container();
}

.flex {
  display: flex;
  align-items: baseline !important;
  justify-content: space-between;
}

.notFound {
  text-align: center;
  text-transform: uppercase;
  margin: 130px 0;
}

.filterText {
  color: $colorBackground;
  background: $white;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.rightBlock {
  display: flex;
  align-items: center;
}

.filterIcon {
  margin-right: 17px;
}

.btnSubmit {
  width: auto;
  height: 46px;
  margin: 0 0 0 10px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.3s;
}

.fullWidth {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.widthSelect {
  max-width: 200px;
  margin: 15px 15px 15px 0;

  input {
    border-radius: 0;
    font-size: 16px;
    padding: 13px 15px;

    &::placeholder {
      color: $colorContent;
    }
  }

  label {
    display: none;
  }
}

.rightBtn {
  font-weight: 500;
  font-size: 18px;
  color: $white;
  background: $colorBorder !important;
  padding: 10px;
  min-width: 131px;
  margin-left: 20px;
}

.columnSelect {
  & > div {
    flex-direction: column;

    label {
      width: 100%;
      margin: 10px;
    }

    div + div {
      left: 0;
      top: 80px;
      max-height: 89px;
      min-height: 8px;
    }
  }

  .btnSubmit {
    width: 100%;
    font-weight: 500;
    margin-top: 40px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    transition: all 0.3s;

    &:hover {
      background: $colorBackgroundHover;
    }
  }
}

.heightPopup {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.title {
  color: $colorBackground;
  margin: 60px 0;

  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
}

.pickers {
  flex-wrap: nowrap;

  div div {
    margin: 0;

    &:after {
      display: none;
    }

    p {
      display: none;
    }
  }

  p {
    white-space: nowrap;
    margin: 0 10px;
  }
}
