@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.title {
  @include styleForText(24px, $fontRegular, $colorBackground);
}
.widthForm {
  width: 100%;

  input {
    margin-top: 40px;
  }
}
.checkboxBlock {
  align-items: baseline;
  display: flex;

  a {
    margin-top: 30px;
    color: blue;
  }
}
.btnRegister {
  background: transparent !important;
  color: blue !important;
  font-size: 16px;
}
.headerTitle {
  margin: 160px auto 60px;
  color: $white;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  max-width: 550px;

  @media screen and (max-width: 800px) {
    font-size: 56px;
  }
}
.headerTitleBg {
  background: $colorBackground;
}
.error {
  margin-top: 20px;
  color: $colorBackground;
}

.checkedLogin {
  flex-direction: row-reverse !important;
  justify-content: flex-end;
  align-items: baseline;
  width: auto !important;
}
.widthCheckboxBlock {
  flex-direction: row-reverse;
  width: auto;
  justify-content: flex-end;
  align-items: baseline;

  input {
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }
}
.classNameWrapperLabel {
  color: $colorContent;
}

.btnSubmit {
  margin-top: 40px;
  text-transform: uppercase;
  height: 40px;
  width: 100%;

  &:disabled {
    opacity: 0.7;
  }
}
